<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SerialPortSettings" type="System.Configuration.AppSettingsSection"/>
    <section name="SlaveSettings" type="ModbusRTUService.SlaveSettings, ModbusRTUService"/>
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <!-- Настройки COM-порта -->
  <SerialPortSettings>
    <add key="PortName" value="COM1"/>
    <add key="BaudRate" value="19200"/>
    <add key="Parity" value="None"/>
    <!-- None, Odd, Even, Mark, Space-->
    <add key="DataBits" value="8"/>
    <add key="StopBits" value="One"/>
    <!-- None, One, OnePointFive, Two -->
  </SerialPortSettings>
  <!-- Настройки Modbus Slave-->
  <SlaveSettings>
    <SlaveFiles id="3">
      <slave type="Analog" filepath="C:\unit_3_4\AWAUS_UNIT3" source="a03p1a/txp/om650/txpproz/trans/AWAUS_UNIT3;a03p1b/txp/om650/txpproz/trans/AWAUS_UNIT3" />
      <slave type="Analog" filepath="C:\unit_3_4\AWAUS_UNIT3_1" source="a03p1a/txp/om650/txpproz/trans/AWAUS_UNIT3_1;a03p1b/txp/om650/txpproz/trans/AWAUS_UNIT3_1" />
      <slave type="Discrete" filepath="C:\unit_3_4\BWAUS_UNIT3" source="a03p1a/txp/om650/txpproz/trans/BWAUS_UNIT3;a03p1b/txp/om650/txpproz/trans/BWAUS_UNIT3" />
    </SlaveFiles>
    <SlaveFiles id="4">
      <slave type="Analog" filepath="C:\unit_3_4\AWAUS_UNIT4" source="a04p1a/txpproz/trans/AWAUS_UNIT4;a04p1b/txpproz/trans/AWAUS_UNIT4" />
      <slave type="Discrete" filepath="C:\unit_3_4\BWAUS_UNIT4" source="a04p1a/txpproz/trans/BWAUS_UNIT4;a04p1b/txpproz/trans/BWAUS_UNIT4" />
    </SlaveFiles>
  </SlaveSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
