<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      <section name="SerialPortSettings" type="System.Configuration.NameValueSectionHandler"/>
      <section name="SlaveSettings" type="ModbusRTUService.SlaveSettings" />
  </configSections>
  <appSettings>

    
  </appSettings>
<!-- Настройки COM-порта -->
  <SerialPortSettings>
    <add key="PortName" value="COM1"/>
    <add key="BaudRate" value="19200"/>
    <add key="Parity"   value="None"/><!-- None, Odd, Even, Mark, Space-->
    <add key="DataBits" value="8"/>
    <add key="StopBits" value="One"/><!-- None, One, OnePointFive, Two -->
  </SerialPortSettings>
  
 <!-- Настройки Modbus Slave-->
   <SlaveSettings>
    <SlaveFiles id="3">
      <slave type="Analog" filepath="C:\unit_3_4\AWAUS_UNIT3" />
      <slave type="Analog" filepath="C:\unit_3_4\AWAUS_UNIT3_1" />
      <slave type="Discrete" filepath="C:\unit_3_4\BWAUS_UNIT3" />
    </SlaveFiles>
    <SlaveFiles id="4">
      <slave type="Analog" filepath="C:\unit_3_4\AWAUS_UNIT4" />
      <slave type="Discrete" filepath="C:\unit_3_4\BWAUS_UNIT4" />
    </SlaveFiles>
  </SlaveSettings>
  
    
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
